.section-with-overlay {
    position: relative;
    background-color: #000000;
    
    
  }
  
  .section-with-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 35, 35, 0.5); /* Adjust the background color and opacity as needed */
    z-index: 2; /* Ensure this element is above the blurred section */
  }
  
  .coming-soon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-align: center;
    color: #000;
    background:transparent; /* Adjust the background color and opacity as needed */
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  }

  .coming-soon h2{
    position: relative;
    color: #ffeb3b;
    font-size: 5em;
    -webkit-box-reflect: below -0px linear-gradient(transparent,#0008);

    font-weight: 600;
    text-shadow: 0 0 10px #ff8c3b,
   0 0 40px #ff8c3b,
    0 0 80px #ff8c3b,
   0 0 160px #ff8c3b,
   0 0 240px #ff8c3b;


  }
  
 
  
.coming-soon h1 {
   color: #ee5007;
  }  
  