.entry-title a {
    color: #b2afaf; /* Change link color */
}
.entry-content p {
    margin-bottom: 20px;
}
.img-cls {
    text-align: center;
}
.img-cls img {
    max-width: 100%;
    height: auto;
}
body{
   background-color:  #201f1f;
   color:#d18823 ;
}
.rounded-container {
    border-radius: 15px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    padding: 20px; /* Add padding for content */
}
.entry-title{
    color: #b2afaf;
    text-align: center;
}